.container__how {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 30px;
    margin-right: 20px;

    @include desktop {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        gap: 35px;
        justify-content: center;
    }

    @include tablette {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        gap: 35px;
    }

}

.main_container__how {
    @include desktop {
        width: 100%;

        h2 {
            max-width: 1080px;
            margin-right: auto;
            margin-left: auto;
        }

        :last-child {
            align-items: center;

        }
    }

    @include tablette {
        min-height: 200px;
        padding-top: 30px;
    }



}

.how__icons {
    color: #7E7E7E;
    margin-right: 27px;
}

.how__icon__thirst-card {
    color: $color-primary;
    margin-right: 27px;
}

.step__number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-primary;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    position: relative;
    right: 13px;
}