.main__menu {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    margin-top: -40px;
    align-items: center;

    @include desktop {
        width: 1055px;
        margin: auto;
        margin-top: -40px;

    }

}

.main__menu h1 {
    display: flex;
    margin-right: 35px;
    justify-content: space-between;
    padding-top: 32px;
    font-family: "Shrikhand";
    font-size: 28px;

    @include desktop {
        margin-right: 35px;
    }
}


main img {
    @include desktop;
    @include large;
}


.subtitle__line {
    display: flex;
    justify-content: space-between;
    margin-right: 16px;

}

.group__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;


    @include desktop {
        max-width: 630px;
        margin: auto;
    }

    .starters {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        animation: fadein 2s ease-in;

    }

    .dishes {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        animation: fadein 4s ease-in;
    }

    .desserts {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        animation: fadein 6s ease-in;
    }
}

.group__menu h2 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0;

    @include desktop {
        padding-left: 0;
    }
}

.line {
    width: 40px;
    border: 2px solid $color-tertiary;
    margin-left: 20px;

    @include desktop {
        margin-left: 0;
    }
}

.btn__order {
    @include button;
    width: 186px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.order {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.main__menu i {
    padding-left: 10px;

    @include desktop {
        padding-left: 24px;
    }
}

.box {
    background-color: $color-tertiary;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 59px;
    height: 69px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0;
    top: -0;
    right: -0;
    position: absolute;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition-duration: 0.3s;

    & .icon-circle {
        color: #fff;
        padding-left: 20px;
    }

}

.menu__card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    height: 69px;
    margin-left: 13px;
    margin-right: 13px;
    cursor: pointer;
    position: relative;

    p,
    h3 {
        max-width: 290px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include desktop {
            max-width: 500px;
        }
    }

    &:hover {

        .box {
            opacity: 1;
            transform: scaleX(1);
        }

        .subtitle__line {

            padding-right: 60px;
            transition: padding-right 0.3s ease-in-out;

        }

        p,
        h3 {
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            @include desktop {
                max-width: 500px;
            }
        }

    }

    @include desktop {
        width: 630px;
        margin: auto;
    }

    p {
        @include subtitle_card;
        margin-bottom: 0;
        font-weight: 100;
    }
}

h3 {
    @include title_card;
    font-weight: 500;
    padding-top: 12px;

}