.location {
    height: 50px;
    text-align: center;
    background-color: #EAEAEA;
    width: 100%;
}

.input__location {
    border: none;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    background-color: #EAEAEA;
    text-align: center;
}