$color-primary: #99E2D0;
$color-secondary: #008766;
$color-tertiary: #89C8FA;
$linear-gradient: (
    193.33deg,
    #9356DC -11.44%,
    #FF79DA 123.93%
);
$linear-gradient: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);